extends ../_base.pug

block body
  .intro-header
    .container
      .row
        .col-lg-12
          .intro-message
            h1 Вальгалла
            h3 
              | Дорогие друзья! Авторы предлагают
              | вам под одной обложкой целых три
              | отдельных приключения, созданных
              | по мотивам книг о бессмертных
              | героях. Это романы о Конане-варваре,
              | Фаргале (А. Мазин. Трон Императора)
              | и ученике мага Хагене.(Ник Перумов.
              | Гибель Богов) Вы, и только Вы будете
              | по ходу действия принимать решения
              | за главных героев книги. От вашей
              | смелости, сообразительности и
              | благоразумия зависит благополучное
              | завершение Приключения. Однако, если
              | вам не удастся выжить в суровом
              | волшебном мире с первого раза, не
              | огорчайтесь, и начните игру с начала!
            hr.intro-divider
