extends ../_base.pug

block body
  .content-section
    .intro-header
      .container
        .row
          div(class="col-lg-12 article well")
            .row
              div(class="col-lg-8")
                | {{intro|safe}}
              div(class="col-lg-4")
                a(href="#")
                  div(class="char well")
                    | Фаргал
                div(class="char well")
                  | Конан
                div(class="char well")
                  | Хаген
